{{ define "main" }}
<section class="section">
   <article>
      <div class="columns is-centered">
         <div class="column max-800px">
            <h1 class="title  has-text-centered blog-title is-1">{{ .Title }}</h1>
            <div class="title subtitle heading is-6">
               <h2 class="title  has-text-centered is-3">{{ .Page.Params.subtitle }}</h2>
               <div class="columns is-vcentered">
                  <div class="column ">
                     <div class="columns is-vcentered is-mobile">
                        {{ with .Site.Params.authorImage }}
                        <div class="column is-narrow">
                           <img src="{{ . }}" class="author-image">
                        </div>
                        {{ end }}
                        <div class="column info-column">
                           <p>{{ .Site.Params.Author }}</p>
                           <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time> |
                              {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="column">
                     {{ range $idx, $category := .Params.categories }}
                     {{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
                     {{- end }}
                  </div>
               </div>
            </div>
            {{ with .Params.images }}
            <figure class="title-image  has-text-centered">
               <img src="{{ index . 0 }}" alt="">
            </figure>
            {{ end }}
            <div class="content">
               {{ .Content }}
            </div>
         </div>
      </div>
   </article>    
   </section>
   <div class="container has-text-centered max-800px">
      <div class="columns">
         <div class="column">
            <img src="https://img.icons8.com/external-soft-fill-juicy-fish/45/000000/external-interview-journalism-soft-fill-soft-fill-juicy-fish.png"/>
         </div>
      </div>
      {{ $title := .Title }}
      {{ $url := printf "%s" .RelPermalink | absLangURL }}
      {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
      <div id="sharing">
        <a class="button is-focused" href="http://www.facebook.com/sharer.php?u={{ $url }}" class="facebook" aria-label="share on Facebook">
         <img src="https://img.icons8.com/fluency/30/000000/facebook-new.png"/>Share on Facebook
        </a>
      
        <a class="button is-focused" href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}" class="twitter" aria-label="share on Twitter">
         <img src="https://img.icons8.com/fluency/30/000000/twitter.png"/>Share on twitter
        </a>
      
        <a class="button is-focused" href="mailto:?subject=Check%20out%20{{ $title }}.&body={{ $body }}" class="twitter" aria-label="share on Email">
         <img src="https://img.icons8.com/fluency/30/000000/email-open.png"/>Share by E-mail
      </a>
      </div>
   </div>
   <div style="padding-top: 1rem;" class="container has-text-centered max-800px">
      <div class="columns">
      <div class="column">
         <h1 style="font-size: large;">डोनेशन द्वारा वेबसाइट चलाने में हमारी मदद करें। हालांकि छोटा, प्रत्येक डोनेशन हमें अधिक जागरूकता फैलाने में मदद कर सकता है।</h1>
         <a href="https://www.buymeacoffee.com/chaitanya4vedi"><img src="https://img.buymeacoffee.com/button-api/?text=Donate&emoji=&slug=chaitanya4vedi&button_colour=5F7FFF&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00" /></a>
      </div>
      <div class="column">
         <h1 style="font-size: large;">जैसे ही हम कुछ नया पोस्ट करते हैं, सूचना प्राप्त करें? चिंता न करें, हमने आपको कवर किया है!</h1>
         <a class="button is-danger" style="color: aliceblue; font-family: Abel; font-size: 1.5rem;" href="https://tinyletter.com/chaitanya4vedi">Subscribe to Newsletter!</a>
      </div>
      </div>
    </div> 
   <div class="container has-text-centered" style="padding-top: 1rem;">
      {{ template "_internal/disqus.html" . }}
   </div>
<div class="blog__navigate">
   <div class="blog__navigateButtons">
      <div class="blog__navigateButtons__previous">  
         {{ with .PrevInSection }}  
         <button class="button btn has-background-warning"><a href="{{ .Permalink }}">&#8592; Previous Post: {{ .Title }}</a>   	           </button>  
         {{ end }}  
      </div>
      <div class="blog__navigateButtons__next">  
         {{ with .NextInSection }}  
         <button class="button btn has-background-warning"><a href="{{ .Permalink }}">Next Post: {{ .Title }} &#8594;</a></button>  
         {{ end }}  
      </div>
   </div>
</div>
<section style="margin-bottom: 30px" class="index-section">
   <div class="columns is-centered">
      <div class="column max-800px">
         <div class="content">
            <h2>यह भी देखें</h2>
         </div>
         <div class="columns">
            {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
            {{ range $related }}
            <div class="column is-one-third">
               {{ partial "widgets/post-card-small.html" . }}
            </div>
            {{ end }}
         </div>
      </div>
   </div>
</section>
{{ end }}

