{{ $permalink := .Permalink }}
<div class="card">
    <div class="card-image">
        <figure class="image is-512x512">
            {{ with .Params.images }}
            <a href="{{ $permalink }}"><img class="img" src="{{ index . 0 }}" alt=""></a>
            {{ end }}
        </figure>
    </div>
    <div class="card-content">
        <a style="font-family: 'Sora', sans-serif;" class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a>
        <span style="font-family: 'IBM Plex Sans', sans-serif;" class="heading">{{ .Site.Params.Author }} | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
        <div style="font-family: 'Karla', sans-serif;" class="content">
            {{ .Summary }}
        </div>
        <div class="tags is-pulled-right">
    {{ range .Params.categories }}
    <a class="tag is-primary" href="/categories/{{ . | urlize}}">{{ . }}</a>
    {{ end }}
</div>
    </div>
</div>